@page
@using _0_Framework.Application
@model ServiceHost.Areas.UserPanel.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "مشاهده سفارش های من";
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title"></h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a href="/">صفحه اصلی</a>
                            </li>
                            <li>
                                <a>@ViewData["Title"]</a>
                            </li>
                            <li class="active">سفارش های من</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                @await Component.InvokeAsync("UserSideBar")
                <div class="col-sm-12 col-md-9 col-lg-9 userpanel-dashboard-right">
                    <div class="panel panel-default">
                        @* @if (Model.EditMessage != null)
                        {
                        <div class="alert alert-danger">@Model.EditMessage</div>
                        }*@
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="portlet blue-madison box">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-shopping-cart"></i>سفارش های من
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>ردیف</th>
                                                        <th>شماره سفارش</th>
                                                        <th>تاریخ خرید</th>
                                                        <th>مبلغ</th>
                                                        <th>وضعیت</th>
                                                        <th>جزئیات</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    @foreach (var item in Model.Orders)
                                                    {
                                                        <tr>
                                                            <td>@item.Id</td>
                                                            <td class="engnum">@item.IssueTrackingNo</td>
                                                            <td>@item.RegisterDate</td>
                                                            <td>@item.TotalPayAmount.ToMoney()</td>
                                                            @if (item.OrderCondition)
                                                            {
                                                                <td>
                                                                    <span class="label label-sm label-success">تحویل داده شده</span>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <span class="label label-sm label-danger">هزینه پرداخت نشده است</span>
                                                                </td>
                                                            }
                                                            <td>
                                                                <a asp-page="./ShowOrder" asp-route-orderId="@item.Id" class="btn-search btn-xs default btn-editable">
                                                                    <i class="fa fa-search"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


