@page "{orderId}"
@using _0_Framework.Application
@model ServiceHost.Areas.UserPanel.Pages.Orders.ShowOrderModel
@{
    var summaryModel = Model.SummaryOrder;
}



<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title"></h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a href="/">صفحه اصلی</a>
                            </li>
                            <li>
                                <a>@ViewData["Title"]</a>
                            </li>
                            <li class="active"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                @await Component.InvokeAsync("UserSideBar")
                <div class="col-sm-12 col-md-9 col-lg-9 userpanel-dashboard-right">
                    <div class="panel panel-default">
                        @* @if (Model.EditMessage != null)
                        {
                        <div class="alert alert-danger">@Model.EditMessage</div>
                        }*@
                        <div class="panel-heading">
                            <h4 class="m-t-0 header-title"><b>@ViewData["Title"]</b></h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="portlet blue-steel box">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-bars"></i>جزئیات سفارش
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    شماره سفارش:
                                                </div>
                                                <div class="col-md-7 value">
                                                    <bdi class="engnum">@summaryModel.IssueTrackingNo</bdi>
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    تاریخ و زمان سفارش:
                                                </div>
                                                <div class="col-md-7 value">@summaryModel.RegisterDate</div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    وضعیت سفارش:
                                                </div>
                                                @if (summaryModel.OrderCondition)
                                                {
                                                    <div class="col-md-7 value">
                                                        <span class="label label-success">
                                                            تحویل داده شده </span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-7 value">
                                                        <span class="label label-danger">
                                                           هزینه پرداخت نشده است </span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="portlet blue-hoki box">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-credit-card"></i>جزئیات پرداخت
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                   مبلغ پرداختی:
                                                </div>
                                                <div class="col-md-7 value">
                                                    @summaryModel.TotalPayAmount.ToMoney() تومان
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    تخفیف:
                                                </div>
                                                <div class="col-md-7 value">
                                                    @summaryModel.TotalDiscountAmount.ToMoney() تومان
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    مبلغ پرداخت‌شده:
                                                </div>
                                                <div class="col-md-7 value">
                                                    @summaryModel.FinalPayAmount.ToMoney() تومان
                                                </div>
                                            </div>
                                           @* <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    شماره کارت:
                                                </div>
                                                <div class="col-md-7 value">
                                                    <div>60379******59</div>
                                                </div>
                                            </div>*@
                                            <div class="row static-info">
                                                <div class="col-md-5 name">
                                                    شیوه پرداخت:
                                                </div>
                                                @if (summaryModel.PaymentMethodId == 1)
                                                {
                                                    <div class="col-md-7 value">کارت بانکی</div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-7 value">خرید حضوری</div>
                                                }
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="portlet blue-madison box">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-shopping-cart"></i>صورتحساب
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                    <th>#</th>
                                                    <th>محصول</th>
                                                    <th>تعداد</th>
                                                    <th>قیمت واحد</th>
                                                    <th>درصد تخفیف</th>
                                                    <th>مبلغ کل بدون تخفیف</th>
                                                    <th>مقدار مبلغ تخفیف</th>
                                                    <th>مبلغ نهایی</th>
                                                    </thead>
                                                    <tbody>
                                                    @foreach (var item in Model.OrderDetail)
                                                    {
                                                        <tr>
                                                            <td>@item.Id</td>
                                                            <td>@item.ProductName</td>
                                                            <td>@item.Count</td>
                                                            @if (item.HasDiscount)
                                                            {
                                                                <td>@item.UnitPriceWithDiscount.ToMoney() تومان</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@item.UnitPrice.ToMoney() تومان</td>
                                                            }
                                                            <td>@item.DiscountRate %</td>
                                                            <td>@item.TotalItemPrice.ToMoney() تومان</td>
                                                            <td>@item.DiscountAmount.ToMoney() تومان</td>
                                                            <td>@item.ItemPayAmount.ToMoney() تومان</td>
                                                        </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


