@page
@using _0_Framework.Application
@model ServiceHost.Pages.CartModel
@{
    ViewData["Title"] = "سبد خرید";
    bool check = Request.Cookies.ContainsKey("cart-items");
    bool notNull = Model.CartItems != null;
    bool emptyBasket = Model.EmptyBasket;
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">سبد خرید شما</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="./Index">خانه</a>
                            </li>
                            <li class="active">سبد خرید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    @if (check && emptyBasket == false && notNull)
                    {
                        @foreach (var item in Model.CartItems.Where(x => !x.IsInStock))
                        {
                            <div class="alert alert-warning">
                                <i class="fa fa-warning"></i>
                                کالای <strong>@item.Name</strong>در انبار کمتر از تعداد درخواستی موجود است.
                            </div>
                        }
                    }
                    <div class="page-content-wrapper">
                        <form action="#">
                            <div class="cart-table table-responsive">
                                @if (check && emptyBasket == false && notNull)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="pro-thumbnail">عکس</th>
                                                <th class="pro-title">محصول</th>
                                                <th class="pro-price">قیمت واحد</th>
                                                <th class="pro-quantity">تعداد</th>
                                                <th class="pro-subtotal">قیمت کل</th>
                                                <th class="pro-remove">حذف</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.CartItems)
                                            {
                                                <tr>
                                                    <td class="pro-thumbnail">
                                                        <a asp-page="/Product" asp-route-id="@item.Slug">
                                                            <img src="~/UploadedFiles/@item.Picture" class="img-fluid" alt="@item.Name">
                                                        </a>
                                                    </td>
                                                    <td class="pro-title">
                                                        <a asp-page="/Product" asp-route-id="@item.Slug">@item.Name</a>
                                                    </td>
                                                    @if (item.HasDiscount)
                                                    {
                                                        <td class="pro-price">
                                                            <span>@item.UnitPriceWithDiscount.ToMoney()</span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="pro-price">
                                                            <span>@item.UnitPrice.ToMoney()</span>
                                                        </td>
                                                    }
                                                    <td class="pro-quantity">
                                                        <div class="quantity-selection">
                                                            <input type="number" id="cantAccept0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" value="@item.Count" min="1" onchange="changeCartItemCount('@item.Id', 'totalItemPrice-@item.Id', this.value , 'UnitPrice-@item.Id')">
                                                        </div>
                                                    </td>
                                                    <td class="pro-subtotal">
                                                        <span id="totalItemPrice-@item.Id">@item.TotalItemPrice.ToMoney()</span>
                                                    </td>
                                                    @*inja omadam gheymat az model gereftam rikhtam inja ke to javascript unitprice bashe betone total price dar biare agar karbar ino taghir bede hichi nemishe vaghat real time barash kam neshon mide vagarna asli gheymat taghir nemikone kheyli zahmat keshidam ke real time bashe vagarna age mikhay mitone reload kone page*@
                                                    
                                                    <input type="hidden" id ="UnitPrice-@item.Id" value="@item.UnitPrice"/>
                                                    <td class="pro-remove">
                                                        <a asp-page-handler="RemoveFromCart" asp-route-id="@item.Id">
                                                            <i class="fa fa-trash-o"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>

                                }
                                else
                                {

                                    <div class="alert alert-danger">سبد خرید شما خالی میباشد !‌:‌(</div>

                                }
                            </div>
                        </form>
                        
                        @if (check && notNull && emptyBasket == false)
                        {
                            <div class="row">
                                <div class="col-lg-6 col-12 d-flex">
                                    <div class="cart-summary">
                                        <div class="cart-summary-button">
                                            <a class="checkout-btn" asp-page-handler="GoToCheckOutPage">تکمیل فرایند خرید</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>