@using Microsoft.AspNetCore.Mvc.TagHelpers
@using _0_Framework.Application
@model List<_0_Framework.Application.Cookie.CookieCartModel>
@*@model ServiceHost.ViewComponents.BasketViewComponent*@

@{
    bool check = Context.Request.Cookies.ContainsKey("cart-items");
    bool notNull = Model != null;
}

<li>
    <a href="javascript:void(0)" id="search-overlay-trigger">
        <i class="ion-ios-search-strong"></i>
    </a>
</li>
<li>
    <div class="header-cart-icon">
        <a href="#" id="minicart-trigger">
            <i class="ion-bag"></i>
            <span class="counter" id="cart_items_count">

                @if (check && notNull)
                {
                    @Model.Count
                }
                
            </span>
        </a>
        <div class="mini-cart" id="mini-cart">
            <div class="cart-items-wrapper ps-scroll" id="cart_items_wrapper">
                @if (check && notNull)
                {
                    @foreach (var basket in Model)
                    {
                        <div class="single-cart-item" onmouseover="updateBasketCount('BasketCount-@basket.Id' , '@basket.Id')">
                            <a class="remove-icon" onclick="removeFromCart('@basket.Id')">
                                <i class="ion-android-close"></i>
                            </a>
                            <div class="image">
                                <a asp-page="/Product" asp-value="@basket.Slug">
                                    <img src="/UploadedFiles/@basket.Picture"
                                         class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <p class="product-title">
                                    <a asp-page="/Product" asp-value="@basket.Slug">محصول: @basket.Name</a>
                                </p>
                                <p class="count">
                                    <span id="BasketCount-@basket.Id" >تعداد:‌ @basket.Count </span>
                                </p>
                                <p class="count">
                                    @if (basket.HasDiscount)
                                    {
                                        <span>قیمت واحد: @basket.UnitPriceWithDiscount.ToMoney() تومان </span>

                                    }
                                    else
                                    {
                                        <span>قیمت واحد: @basket.UnitPrice.ToMoney() تومان </span>
                                    }
                                </p>

                            </div>
                        </div>
                    }

                }

            </div>
            @*<div class="cart-calculation">
            <table class="table">
            <tbody>
            <tr>
            <td class="text-right">Sub-Total :</td>
            <td class="text-left">$220.00</td>
            </tr>
            <tr>
            <td class="text-right">Eco Tax (-2.00) :</td>
            <td class="text-left">$6.00</td>
            </tr>
            <tr>
            <td class="text-right">VAT (20%) :</td>
            <td class="text-left">$44.00</td>
            </tr>
            <tr>
            <td class="text-right">Total :</td>
            <td class="text-left">$270.00</td>
            </tr>
            </tbody>
            </table>
            </div>*@
            <div class="cart-buttons">
                <a asp-page="/Cart">مشاهده سبد خرید</a>
            </div>
        </div>
    </div>
</li>