@page
@model ServiceHost.Areas.Administration.Pages.Accounts.Role.EditModel
@{
    ViewData["Title"] = "ویرایش نقش" + @Model.Command.Name;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="m-t-0 header-title"><b>@ViewData["Title"]</b></h4>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Name" class="control-label">نام</label>
                                <input type="text" class="form-control" asp-for="Command.Name">
                                <span asp-validation-for="Command.Name" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6 right-create-role">
                            <div class="card">
                                <div class="card-body">

                                    <input type="hidden" asp-for="@Model.Command.Id"/>

                                    <h4 class="card-title">دسترسی های نقش</h4>
                                    <ul>
                                        @foreach (var perm in @Model.Permission.Where(p => p.ParentId == null))
                                        {
                                            <li>
                                                <input type="checkbox" name="SelectedPermission" @((@Model.RolePermission.Any( p=> p == perm.PermissionId)?"checked":"")) value="@perm.PermissionId" /> @perm.PermissionTitle

                                                @if (@Model.Permission.Any(p => p.ParentId == perm.ParentId))
                                                {
                                                    <ul>
                                                        <li>
                                                            @foreach (var sub in @Model.Permission.Where(p => p.ParentId == perm.PermissionId))
                                                            {
                                                                <input type="checkbox" name="SelectedPermission" @((@Model.RolePermission.Any( p=> p== sub.PermissionId)?"checked":"")) value="@sub.PermissionId" /> @sub.PermissionTitle
                                                                @if (@Model.Permission.Any(p => p.ParentId == sub.ParentId))
                                                                {
                                                                    <ul>
                                                                        @foreach (var sub2 in @Model.Permission.Where(p => p.ParentId == sub.PermissionId))
                                                                        {
                                                                            <li>
                                                                                <input type="checkbox" name="SelectedPermission" @((@Model.RolePermission.Any( p=> p== sub2.PermissionId)?"checked":"")) value="@sub2.PermissionId" /> @sub2.PermissionTitle
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                }

                                                            }
                                                        </li>
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light">ویرایش</button>
                    <a asp-page="./Index" class="btn btn-default waves-effect">بازگشت</a>
                </form>
            </div>
        </div>
    </div>
</div>