@page
@model ServiceHost.Areas.UserPanel.Pages.ChangePassword.IndexModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    var Username = User.Identity.Name;
}

<partial name="_JqueryValidator" />

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title"></h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a href="/">صفحه اصلی</a>
                            </li>
                            <li>
                                <a>@ViewData["Title"]</a>
                            </li>
                            <li class="active">@Username</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                @await Component.InvokeAsync("UserSideBar")
                <div class="col-sm-12 col-md-9 col-lg-9 userpanel-dashboard-right">
                    <div class="panel panel-default">
                        @if (Model.ChangePasswordMessage != null)
                        {
                            <div class="alert alert-danger">@Model.ChangePasswordMessage</div>
                        }
                        <div class="panel-heading">
                            <h4 class="m-t-0 header-title"><b>@ViewData["Title"]</b></h4>
                        </div>
                        <div class="panel-body">
                            <form method="post">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="Command.OldPassword">رمز عبور فعلی</label>
                                            <input type="password" asp-for="Command.OldPassword" class="form-control">
                                            <span asp-validation-for="Command.OldPassword" class="error text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="Command.Password">رمز عبور جدید</label>
                                            <input type="password" asp-for="Command.Password" class="form-control">
                                            <span class="error text-danger" asp-validation-for="Command.Password"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-box">
                                            <label class="control-label" asp-for="Command.RePassword">تکرار رمز عبور جدید</label>
                                            <input type="password" asp-for="Command.RePassword" class="form-control">
                                            <span class="error text-danger" asp-validation-for="Command.RePassword"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="Command.Username" value="@Username"/>
                                    <div class="col-md-7 col-sm-8 col-xs-12 m-t-20px">
                                        <button class="btn btn-success"> تغییر رمز عبور </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>