<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (@ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] | Exclusive Shop</title>
    }
    else
    {
        <title>Exclusive Shop</title>
    }
    
    
    <meta name="description" content="@ViewData["metaDescription"]" />
    
    <meta name="keywords"  content="@ViewData["Keywords"]"/>

   <partial name="_StyleCss"/>
</head>

<body>

    @await Component.InvokeAsync("Header")

    @RenderBody()

    @await Component.InvokeAsync("Footer")

    <partial name="_SearchBox" />

    <!-- scroll to top  -->
    <div id="scroll-top">
        <span>برو به بالا</span><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i>
    </div>
    <!-- end of scroll to top -->
   
    <partial name="_StyleJs" />

    <partial name="_CustomScript"/>

    <!--Recaptcha-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>

</html>